/* Jumbotron */
.jumbotron{
    text-align:center;
    background-image: url('blog.jpg');
    color:white;
}
/* Post Index */
.postIndex {
    height: 100%;
    border: 2px solid;
    background-color:lightgray;
}

.postIndexList {
    font-size:25px;
}
.indexHeader {
    font-size:40px;
    text-align:center;
}

/* Post Bodies */
.postBodies {
    height: 100%;
    border:2px solid;
    
}
.postBody {
    height:100%;
    font-size:40px;
    text-align:center;
}

.bodyMain {
    height:50%;
}

.entryFormRow {
    height:30%;
    border:2px solid;
    background-color:lightgray;
}
.container {
    display: flex;
    height: 500px;
}

.postMain {
    height: 65vh;
}

.newPostBody {
    flex:wrap;
    width:70%;
}
.newPostTitle {
    width: 20%;
}

.entryForm {
    text-align:center;
    font-size:14px;
    width:100%;
}

/* postBody buttons */
.bodyButtons {
    height:30%;
}
.bbuttons {
    display:flex;
    justify-content:center;
    margin:30px;
}

.createFormButton {
    justify-content:right;
    margin-left:110px;
    margin-bottom: 120px;
}

.updateButton {
    margin-left:80px;
    margin-right:80px;
}