div {
    border: 1px solid;
}

/* Jumbotron */
.bannerHeader {
    text-align:center;
}
.btn-lg {
}

/* Post Index */
.postIndex {
    height: 100%;
}

.postIndexList {
    font-size:25px;
}

/* Post Bodies */
.postBodies {
    height: 100%;
}
.postBody {
    height:100%;
    font-size:40px;
    text-align:center;
}

.bodyMain {
    height:60%;
}

.entryFormRow {
    height:20%;
}
.container {
    display: flex;
    height: 500px;
}

.postMain {
    height: 65vh;
}

.newPostBody {
    flex:wrap;
    width:70%;
}
.newPostTitle {
    width: 20%;
}

.entryForm {
    text-align:center;
    font-size:14px;
}

/* postBody buttons */
.bodyButtons {
    height:20%;
}
.bbuttons {
    display:flex;
    justify-content:center;
    margin:30px;
}

.createFormButton {
    float:right;
}

.updateButton {
    margin-left:80px;
    margin-right:80px;
}
/* //Footer */
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}